In [2]:
import pandas as pd

In [31]:
df_yelp = pd.read_csv('Data/YELP_ind_CAMIS_merged.csv')
df_insp = pd.read_csv('Data/most_recent_inspections.csv')

In [32]:
# clean yelp data
df_yelp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22954 entries, 0 to 22953
Data columns (total 10 columns):
CAMIS         22954 non-null int64
Name          22954 non-null object
Rating        22954 non-null float64
Popularity    22954 non-null int64
Price         20380 non-null object
Categories    22928 non-null object
Reviews       22951 non-null object
url           22954 non-null object
Latitude      22954 non-null float64
Longitude     22954 non-null float64
dtypes: float64(3), int64(2), object(5)
memory usage: 1.8+ MB

In [33]:
df_yelp.head()

,CAMIS,Name,Rating,Popularity,Price,Categories,Reviews,url,Latitude,Longitude
0,30075445,Morris Park Bake Shop,4.0,41,$$,"Bakeries, Desserts",Hands down the BEST cannoli in the Business!! ...,https://www.yelp.com/biz/morris-park-bake-shop...,40.848390,-73.856010
1,30112340,Wendy's,2.0,36,$,"Fast Food, Burgers",Place has sick ass frostys. Bouta get some fri...,https://www.yelp.com/biz/wendys-brooklyn-4?adj...,40.662952,-73.961753
2,30191841,D.J. Reynolds,3.5,99,$$,"Irish, Pubs",Had dinner last night with a group of 14. Foo...,https://www.yelp.com/biz/d-j-reynolds-new-york...,40.767750,-73.984870
3,40356018,Riviera Caterers,4.0,38,NaN,Caterers,Had our wedding at Riviera just after the ball...,https://www.yelp.com/biz/riviera-caterers-broo...,40.579520,-73.982430
4,40356151,Events By Bruno's,4.0,13,NaN,"Caterers, Venues & Event Spaces",If you value the quality of your party experie...,https://www.yelp.com/biz/events-by-brunos-jack...,40.764240,-73.880410

In [34]:
df_yelp.isna().sum()

CAMIS            0
Name             0
Rating           0
Popularity       0
Price         2574
Categories      26
Reviews          3
url              0
Latitude         0
Longitude        0
dtype: int64

In [35]:
df_insp['CAMIS'].nunique()

24927

In [36]:
# replace yelp Price "$" to 1,2,3,4 score
df_yelp.loc[df_yelp['Price'] == "$", 'Price'] = 1
df_yelp.loc[df_yelp['Price'] == "$$", 'Price'] = 2
df_yelp.loc[df_yelp['Price'] == "$$$", 'Price'] = 3
df_yelp.loc[df_yelp['Price'] == "$$$$", 'Price'] = 4

# replace some weired signs 
df_yelp.loc[df_yelp['Price'] == "€€€", 'Price'] = 3
df_yelp.loc[df_yelp['Price'] == "££££", 'Price'] = 4
df_yelp.loc[df_yelp['Price'] == "££", 'Price'] = 2
df_yelp.loc[df_yelp['Price'] == "£", 'Price'] = 1

# but still 2574 na values

In [37]:
df_insp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24927 entries, 0 to 24926
Data columns (total 9 columns):
CAMIS                  24927 non-null int64
DBA                    24927 non-null object
CUISINE DESCRIPTION    24927 non-null object
GRADE DATE             24927 non-null object
SCORE                  24927 non-null float64
GRADE                  24927 non-null object
VIO_COUNT              24927 non-null int64
VIO_CODE_LIST          24927 non-null object
CRITICAL_COUNT         24927 non-null int64
dtypes: float64(1), int64(3), object(5)
memory usage: 1.7+ MB

In [38]:
df_insp.head()

,CAMIS,DBA,CUISINE DESCRIPTION,GRADE DATE,SCORE,GRADE,VIO_COUNT,VIO_CODE_LIST,CRITICAL_COUNT
0,30075445,MORRIS PARK BAKE SHOP,Bakery,2018-05-11,5.0,A,2,"{'10F', '08C'}",0
1,30112340,WENDY'S,Hamburgers,2019-03-04,13.0,A,3,"{'10F', '02G', '10B'}",1
2,30191841,DJ REYNOLDS PUB AND RESTAURANT,Irish,2018-05-16,12.0,A,3,"{'08A', '10F', '04L'}",1
3,40356018,RIVIERA CATERERS,American,2018-10-30,10.0,A,2,"{'10F', '06D'}",1
4,40356151,BRUNOS ON THE BOULEVARD,American,2017-08-19,10.0,A,2,"{'10F', '06C'}",1

In [39]:
# join two dataframes on CAMIS column index
df = pd.concat([df_yelp.set_index('CAMIS'),df_insp.set_index('CAMIS')], axis=1, join='inner').reset_index()

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21308 entries, 0 to 21307
Data columns (total 18 columns):
CAMIS                  21308 non-null int64
Name                   21308 non-null object
Rating                 21308 non-null float64
Popularity             21308 non-null int64
Price                  19087 non-null object
Categories             21285 non-null object
Reviews                21305 non-null object
url                    21308 non-null object
Latitude               21308 non-null float64
Longitude              21308 non-null float64
DBA                    21308 non-null object
CUISINE DESCRIPTION    21308 non-null object
GRADE DATE             21308 non-null object
SCORE                  21308 non-null float64
GRADE                  21308 non-null object
VIO_COUNT              21308 non-null int64
VIO_CODE_LIST          21308 non-null object
CRITICAL_COUNT         21308 non-null int64
dtypes: float64(4), int64(4), object(10)
memory usage: 2.9+ MB

In [41]:
# drop NA Values
df = df[pd.notnull(df['Price'])]
df = df[pd.notnull(df['Reviews'])]
df = df[pd.notnull(df['Categories'])]

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19086 entries, 0 to 21307
Data columns (total 18 columns):
CAMIS                  19086 non-null int64
Name                   19086 non-null object
Rating                 19086 non-null float64
Popularity             19086 non-null int64
Price                  19086 non-null object
Categories             19086 non-null object
Reviews                19086 non-null object
url                    19086 non-null object
Latitude               19086 non-null float64
Longitude              19086 non-null float64
DBA                    19086 non-null object
CUISINE DESCRIPTION    19086 non-null object
GRADE DATE             19086 non-null object
SCORE                  19086 non-null float64
GRADE                  19086 non-null object
VIO_COUNT              19086 non-null int64
VIO_CODE_LIST          19086 non-null object
CRITICAL_COUNT         19086 non-null int64
dtypes: float64(4), int64(4), object(10)
memory usage: 2.8+ MB

In [44]:
df.head()

,CAMIS,Name,Rating,Popularity,Price,Categories,Reviews,url,Latitude,Longitude,DBA,CUISINE DESCRIPTION,GRADE DATE,SCORE,GRADE,VIO_COUNT,VIO_CODE_LIST,CRITICAL_COUNT
0,30075445,Morris Park Bake Shop,4.0,41,2,"Bakeries, Desserts",Hands down the BEST cannoli in the Business!! ...,https://www.yelp.com/biz/morris-park-bake-shop...,40.848390,-73.856010,MORRIS PARK BAKE SHOP,Bakery,2018-05-11,5.0,A,2,"{'10F', '08C'}",0
1,30112340,Wendy's,2.0,36,1,"Fast Food, Burgers",Place has sick ass frostys. Bouta get some fri...,https://www.yelp.com/biz/wendys-brooklyn-4?adj...,40.662952,-73.961753,WENDY'S,Hamburgers,2019-03-04,13.0,A,3,"{'10F', '02G', '10B'}",1
2,30191841,D.J. Reynolds,3.5,99,2,"Irish, Pubs",Had dinner last night with a group of 14. Foo...,https://www.yelp.com/biz/d-j-reynolds-new-york...,40.767750,-73.984870,DJ REYNOLDS PUB AND RESTAURANT,Irish,2018-05-16,12.0,A,3,"{'08A', '10F', '04L'}",1
5,40356483,Wilkens Fine Foods,3.5,37,2,Delis,I've been coming here for years since I've mov...,https://www.yelp.com/biz/wilkens-fine-foods-br...,40.619900,-73.906850,WILKEN'S FINE FOOD,Delicatessen,2018-05-10,13.0,A,2,"{'10F', '06C'}",1
6,40356731,Taste the Tropics USA,4.5,31,1,Ice Cream & Frozen Yogurt,The best ice cream shop by far and I have been...,https://www.yelp.com/biz/taste-the-tropics-usa...,40.640830,-73.948350,TASTE THE TROPICS ICE CREAM,"Ice Cream, Gelato, Yogurt, Ices",2018-05-16,13.0,A,4,"{'08A', '10F', '08C', '04L'}",1

In [45]:
df.to_csv('merged_yelp_inspections.csv', index=False)